/* TODO Add site wide styles */
body {
    margin: 0px;
    justify-content: center;
}

* {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -.4px;
}

#modal-content {
    height: 20vw
}

