.nav-bar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 90000;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 0;
  background: #1a1a1a;
  color: white;
}



/* .nav-bar-two {
  display: flex;
  justify-content: space-around;
} */

.nav-bar-container {
  display: flex;
  gap: 120px;
}

.nav-bar-container>.spacing {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-top: 20px;
}
/* .spacing:hover{

  border-bottom: 7pc solid #e00095;
} */
#createreviewbutt{
  /* color: #e00095;
  border: 1px solid #e00095; */
  all:unset;
}


.nav-bar-container>.spacing:hover {
  cursor: pointer;
  background: #e00095;
}

.realButton {
  background: #ff2a58;
  border-radius: 20px;
  color: white;
  border: none;
  border-color: #ff39e8;
  height: 50px;
  width: 100px;
  text-shadow: none;
  margin-top: 5px;
}

.realButton:hover {
  cursor: pointer;
  border-bottom: 7pc solid #e00095;
}

#homeiconbutton {
  margin-top: 20px;

}

#homeiconbutton:hover{
  cursor: pointer;
  background: #e00095;
}
